<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Icon -->
    <link rel="shortcut icon" href="~/FrgIcon.png">
    <!-- Icon -->
    <!-- boot css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" crossorigin="anonymous">
    <!-- boot css -->
    <!-- boot js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- boot js -->
    <title>@ViewBag.Title</title>
    <style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .hover{
          color:gray;
      }
      .hover-red{
          color:gray;
      }
      .hover-red:hover{
          color:red;
      }
      .card-scale:hover{
          transform: scale(1.1);
      }
      .titulo{
          text-align:center;
          margin-top:25px;
          margin-bottom:25px;
      }
      .carrossel{
          object-fit: cover;
          object-position: 0 80%;
          height:400px;
      }
      .img-card-justify{
           object-fit: cover;
          object-position: 0 80%;
          height:225px;
      }
    </style>
</head>
<body>

<!-- NavBar -->
  <header>
    <div class="px-3 py-2 bg-light shadow bg-body">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <center>
                <img src="~/images/logoStore.png" width="60%">
            </center>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a asp-controller="Home" asp-action="Carrossel" class="nav-link hover">
                Home
              </a>
            </li>
            <li>
              <a href="#" data-bs-toggle="modal" data-bs-target="#FaleConoscoModal" class="nav-link hover">
                Fale Conosco
              </a>
            </li>
            <li>
                <div class="dropdown">
                    <a class="nav-link hover dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Categorias
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Tênis</a></li>
                        <li><a class="dropdown-item" href="#">Camiseta</a></li>
                        <li><a class="dropdown-item" href="#">Carro</a></li>
                    </ul>
                </div>
            </li>
            <li>
              <a asp-controller="Login" asp-action="Index" class="nav-link hover-red">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
                Sair
              </a>
            </li>   
          </ul>
        </div>
      </div>
    </div>
  </header>
<!-- End NavBar -->

<!-- Modal -->
<form asp-controller="Produto" asp-action="Detalhes" method="">
    <div class="modal fade" id="FaleConoscoModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Fale Conosco</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                <div class="mb-3">
                  <label class="form-label">Nome Completo</label>
                  <input type="text" class="form-control" id="nomeModal">
                </div>
                <div class="mb-3">
                  <label class="form-label">Email </label>
                  <input type="email" class="form-control" id="emailModal" placeholder="nome@exemplo.com">
                </div>
                <div class="mb-3">
                  <label class="form-label">Mensagem</label>
                  <textarea class="form-control" id="mensagemModal" rows="3"></textarea>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-success">Enviar</button>
          </div>
        </div>
      </div>
    </div>
</form>
<!-- End Modal -->

    <div >
        @RenderBody()
    </div>

<div class="sticky-bottom">
    <hr>
    <footer class="container">
        <p class="copyright">&copy; Copyright Kaue - 2022</p>
    </footer>
</div>

</body>
</html>
