
<br>
<br>
<center>
<h3>Login</h3>
</center>


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <form action="" method="post">
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="email">Senha</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                </div>
                                <br /> 
                                <center>
                                    <div class="form-group">
                                        <button class="btn btn-success" onclick="Validate()">Entrar</button>
                                        <a class="btn btn-primary" asp-controller="Login" asp-action="Cadastro">Cadastrar</a>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function Validate()
    {
         fetch("https://localhost:5001/Usuario")
        .then(resposta => resposta.json())
        .then(data => 
        {
            var u = document.getElementById("email").value;
            var p = document.getElementById("password").value;
            if(u == "" && p == ""){ 
            alert("Usuario e Senha Vazios !");
            }
                            data.forEach(function(produto, i) 
                            {
                                
                                if (u == produto.email && p == produto.senha)
                                {
                                    alert("Bem Vindo "+produto.nome);
                                    window.location.assign("Home/Carrossel");
                                }
                            });
        });
    }

</script>
