<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Icon -->
    <link rel="shortcut icon" href="~/FrgIcon.png">
    <!-- Icon -->
    <!-- boot css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" crossorigin="anonymous">
    <!-- boot css -->
    <!-- boot js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- boot js -->
    <title>@ViewBag.Title</title>
    <style>
      .titulo{
          text-align:center;
          margin-top:25px;
          margin-bottom:25px;
      }
      img{
          width:10%;
      }
    </style>
</head>
<body>

<!-- NavBar -->
  @*<header>
    <div class="px-3 py-2 bg-light shadow bg-body">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="">
                <img src="~/images/logoStore.png" width="60%">
          </a>
        </div>
      </div>
    </div>
  </header>*@



<!-- NavBar -->
   <header>
    <div class="px-3 py-2 bg-light shadow bg-body">
        <center>
            <img src="~/images/logoStore.png" width="100%"> 
        </center>
    </div>
  </header>
<!-- End NavBar -->

    <div >
        @RenderBody()
    </div>

<div class="sticky-bottom">
    <hr>
    <footer class="container">
        <p class="copyright">&copy; Copyright Kaue - 2022</p>
    </footer>
</div>

</body>
</html>
