<br></br>

<center>
    <h1>Cadastrar Produto</h1>
</center>

<div class="container">
    <a class="btn btn-danger mb-2" asp-controller="Home" asp-action="Carrossel">Voltar</a>




    <form class="row g-3" action="" method="">
      <div class="col-md-6">
        <label class="form-label">Nome </label>
        <input type="text" class="form-control" id="nomeProduto" placeholder="nome do produto">
      </div>
      <div class="col-md-6">
        <label class="form-label">Marca</label>
        <input type="text" class="form-control" id="marca" placeholder="marca do produto">
      </div>
      <div class="col-6">
        <label class="form-label">Quantidade</label>
        <input type="number" class="form-control" id="quantidade" placeholder="0">
      </div>
       <div class="col-6">
        <label for="inputAddress" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Ex: Tenis,Camiseta...">
      </div>
      <div class="col-12">
        <label class="form-label">Descrição</label>
        <input type="text" class="form-control" id="descricao">
      </div> 
      <div class="col-6">
           <button type="submit" class="btn btn-success">Finalizar Cadastro</button>
      </div>
    </form>
</div>
